<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject_malwadiya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalproject_malwadiya">
        <activity android:name=".Worker.setting_worker"></activity>
        <activity android:name=".Order_details" />
        <activity android:name=".Customer.add_request" />
        <activity android:name=".Worker.main_worker" />
        <activity android:name=".Customer.setting" />
        <activity android:name=".Customer.main_Customer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>